header .header-top {
    height: 55px;
    background: url(../images/shape_top.png) repeat center fixed;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
    header .header-top .contact-info {
        padding-left: 5%; 
    }
        header .header-top .contact-info li {
            padding-right: 15px;
            color: #ffffff;
            display: inline-block;
        }
            header .header-top .contact-info li i::before {
                padding-right: 10px;
                font-size: 15px;
            }
    header .header-top .login-info  {
        padding-right: 8%; 
    }      
        header .header-top .login-info li {
            padding-left: 30px;
            list-style-type: none;
            display: inline-block;
        }
            header .header-top .login-info li a {
                text-decoration: none;
                color: #ffffff;
            }
                header .header-top .login-info li a:hover {
                    color: #ff5a2c !important;
                    transition: all 0.2s ease-in-out; 
                }

header .header-bottom nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header .header-bottom nav .logo {
        padding-left: 5%; 
    }
        header .header-bottom nav .logo img {
            width: 55%; 
        }
    header .header-bottom nav ul {
        padding-right: 8%;
        display: flex;
    }
        header .header-bottom nav ul li {
            margin-left: 40px;
            padding: 36px 0;
            list-style-type: none;
        }
            header .header-bottom nav ul li a {
                color: #333146 !important;
                font-size: 1.1em;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
            }
                header .header-bottom nav ul li a.active,
                header .header-bottom nav ul li a:hover {
                    color: #ff5a2c !important;
                    transition: all 0.2s ease-in-out; 
                }